return {
    db => {
        dsn => 'dbi:mysql:database=taptinder;host=localhost',
        user => 'taptinder-user',
        password => 'taptinderpasswd',
    },
    project => {
        Parrot => {
            repository => 'http://svn.perl.org/parrot/',
            log_dump_refresh => 5*60, # seconds
            repository_default_layout => 1,
        },
    }
};
