return {
    db => {
        name => 'taptinder',
        dsn => 'dbi:mysql:database=taptinder;host=localhost',
        user => 'taptinder-user',
        password => 'taptinder-passwd',
    },
    project => {
        'TapTinder-tr1' => {
            repository => 'http://dev.taptinder.org/svn/taptinder-tr1/',
            repository_default_layout => 1,
        },
        'TapTinder-tr2' => {
            repository => 'http://dev.taptinder.org/svn/taptinder-tr2/',
            repository_default_layout => 0,
        },
        'TapTinder-tr3' => {
            repository => 'http://dev.taptinder.org/svn/taptinder-tr3/',
            repository_default_layout => 1,
        },
    }
};
