---
project:
  tt-tr1:
   repository: 'tt-tr1'
  tt-tr2:
   repository: 'tt-tr2'
  tt-tr3:
   repository: 'tt-tr3'
  rakudo:
   repository: 'git://github.com/rakudo/rakudo.git'
  parrot:
   repository: 'git://github.com/parrot/parrot.git'
