/temp/*
/TapTinder-Server-*.tar.gz
/TapTinder-Server-*/*
/conf/db.pass.conf
/conf/db.root-pass.conf
/conf/web.yml
/conf/web_db.yml
/conf/web_project.yml
/root/dbdoc
/root/lib/config/main
/root/file
