body {
    margin:             0.5em;
    padding:            0;
    font-family:        tahoma, arial, helvetica, geneva, sans-serif;
    color:              #000000;
    background-color:   #f5f5f5;
    font-size: 90%; /* TODO */
}

h1 {
    font-size:          140%;
    font-weight:        bold;
}

h2 {
    font-size:          120%;
    font-weight:        bold;
}

h3 {
    font-weight:        bold;
}

a:link {
    text-decoration:    none;
    color:              #0000FF;
}

a:visited {
    text-decoration:    none;
    color:              #0000FF;
}

a:hover {
    text-decoration:    underline;
    color:              #FF0000;
}

th {
    font-weight:        bold;
    color:              #000000;
    background-color:   #D3DCE3;
}

hr {
    color:              #666666;
    background-color:   #666666;
    border:             0;
    height:             1px;
}

form {
    padding:            0;
    margin:             0;
    display:            inline;
}

textarea {
    overflow:           visible;
    height:             8em;
}

fieldset {
    margin-top:         1em;
    border:             #686868 solid 1px;
    padding:            0.5em;
    background-color:   #E5E5E5;
}

fieldset fieldset {
    margin:             0.8em;
}

fieldset legend {
    background-color:   transparent;
}

/* buttons in some browsers (eg. Konqueror) are block elements,
   this breaks design */
button {
    display:            inline;
}

table caption,
table th,
table td {
    padding:            0.1em 0.5em 0.1em 0.5em;
    margin:             0.1em;
    vertical-align:     top;
}

.red {
    color: red;
}

img,
input,
select,
button {
    vertical-align:     middle;
}

/* even table rows 2,4,6,8,... */
table tr.even th,
table tr.even {
    background-color:   #E5E5E5;
    text-align:         left;
}

/* odd table rows 1,3,5,7,... */
table tr.odd th,
table tr.odd {
    background-color:   #D5D5D5;
    text-align:         left;
}

table tr.even_err th,
table tr.even_err {
    background-color:   #ffcaba;
    text-align:         left;
}

table tr.odd_err th,
table tr.odd_err {
    background-color:   #ffddd3;
    text-align:         left;
}

/* marked tbale rows */
table tr.marked th,
table tr.marked {
    background-color:   #FFCC99;
}

/* hovered table rows */
table tr.odd:hover,
table tr.even:hover,
table tr.odd:hover th,
table tr.even:hover th,
table tr.hover th,
table tr.hover {
    background-color:   #CCFFCC;
}


table td.ok {
    color:              green;
}

table td.err {
    font-family:        "Courier New", Courier, monospace;
    color:              red;
    font-weight:        bold;
}

.tblHeader {
    background-color:   #D0DCE0;
    font-weight:        bold;
    color:              #000000;
}

table.data {
  margin: 3px 0;
}

.error_bar {
  color: red;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.pages {
    margin: 0 1em;
    padding: 10px 0;
    font-weight: bold;
}
.pages span.text {
    margin-right: 1em;
}
.pages a, .pages span.a, .pages .a-arrow {
    margin: 2px;
    padding: 3px 5px;
    border: 1px solid #5a84ae;
}
.pages a.arrow, .pages span.a-arrow {
    margin: 0 1em;
    padding: 0px 5px 1px 5px;
}
.pages span.a-arrow {
    color: grey;
    background-color: #F5F5F5;
    border-color: grey;
}

.pages a:hover {
    color: black;
    background-color: #d0dce0;
    border-color: #024082;
    text-decoration: none;
}
.pages .selected {
    color: white;
    background-color: #5a84ae;
}

ul.menu li {
  margin: 0.5em;
}

#footer {
    border-top: 1px solid #d3dce3; 
	border-bottom: 1px solid #d3dce3; 
	margin: 1.5em 0px 1em 0px;
	padding: 0.3em 1em 0.25em 1em;
	text-align: right;
	font-size: 90%;
}

.nav {
	margin: 0.8em 0;
}

.footinfo {
	margin: 0.5em 0 0.5em 0;
}

h1.table, h2.table, h3.table {
  margin: 0;
  padding: 0;
}
