--- 
parrot:
   repository: http://svn.perl.org/parrot/
   repository_path: trunk/
   client_id: SomeNumber
   client_passwd: YourClientPasswd
   email: email@somedomain.com
   irc_nick: YourProjectIRCNick
   taptinderserv: http://tt.ro.vutbr.cz/
   compressupload: 0
